<table class="ui-pg-table navtable">
    <tr>
        <td class="ui-pg-button ui-corner-all" title="Adauga">
            <div class="ui-pg-div"><span class="ui-icon ui-icon-plus"></span></div>
        </td>
        <td class="ui-pg-button ui-corner-all" title="Modifică">
            <div class="ui-pg-div"><span class="ui-icon ui-icon-pencil"></span></div>
        </td>
        <td class="ui-pg-button ui-corner-all" title="Șterge">
            <div class="ui-pg-div"><span class="ui-icon ui-icon-trash"></span></div>
        </td>
    </tr>
</table>